= form_for @link do |f|
  - if @link.errors.any?
    #error_explanation
      %h2= "#{pluralize(@link.errors.count, "error")} prohibited this link from being saved:"
      %ul
        - @link.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :external_url
    = f.text_field :external_url
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :visits_count
    = f.number_field :visits_count
  .actions
    = f.submit 'Save'
